body {
    font-family: "Crimson Text", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

h1, h2 {
    font-family: "Open Sans Condensed", sans-serif;
}

main h1 {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 25px;
    border-bottom: 10px solid #000;
    font-size: 60px;
    text-transform: uppercase;
}

main {
    float: left;
    width: 85%;
    padding-bottom: 10px;
}

p {
    text-align: justify;
    margin: 20px 0;
}

blockquote {
    background-color:#D9E5E3;
    padding: 25px;
    border: 10px solid #C2CCCA;
    width: 250px;
    box-sizing: border-box;
    margin: 20px 40px;
    font-style: italic;
}

aside{
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
}

.Rodape-Principal{
    background-color: #000;
    color: #F2FFFC;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}

nav a {
    color: #F2FFFC;
    text-decoration: none;
    text-transform: lowercase;
}

main a {
    color: #851944;
    text-decoration: none;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none;
}

div {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

main div {
    width: 720px;
    margin: auto;
    padding: 30px 0;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

.Icone-Redes li{
    display: inline-block
}

.Icone-Redes a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -99999px;
}

.github {
    background-image: url(github.png);
}

.twitter {
    background-image: url(twitter.png);
}

.linkedin {
    background-image: url(linkedin.png);
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h2 {
    font-size: 30px;
}

article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.petobras{
    float: left;
}

.fiat{
    float: right;
}

.subtitulo-texto {
    clear: both;
}

.foto, .navegacao {
    float: right;
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}

.foto{
    position: absolute;
    top: 0;
    right: 0;
}

.navegacao {
    width: 15%;
    position: relative;
    top: 310px;
}