body {
    background-color: #424242;
    color: white;
}

.cor-preta {
    background-color: #424242;
}

.navbar-preta {
    background-color: #0d0d0d;
}


/* ==================================================*/
/*                  Animação SVG                     */

        .animate-svg {
            width: 800px;
            margin: 200px auto;
        }

        .animate-svg svg {
            stroke-width: 2px;
            stroke: #000;
            width: 100%;
            height: 100%;
            stroke-dashoffset: 0;
            stroke-dasharray: 1300;
            animation: svganimation 5s ease-in-out;
            fill: none;
            stroke-opacity: 0;
        }

        @keyframes svganimation {
            0% {
                stroke-dashoffset: 1400;
                fill: none;
                fill-opacity:0;
                stroke-opacity: 1;
            }
            20% {
                stroke-dashoffset: 0;
            }
            30% {
                stroke-dashoffset: 0;
            }
            40% {
                stroke-dashoffset: 0;
                fill: #000000;
            }
            50% {
                fill-opacity:1;
            }
            80% {
                stroke-dashoffset: 0;
                fill-opacity:0;
            }
            100% {
                fill-opacity:0;
                fill: none;
                stroke-opacity: 0;
            }
        }
/* ==================================================*/
/* ==================================================*/
/*                  Redes Sociais                    */

.Icone-Redes a {
    width: 40px;
    height: 40px;
    display: flex;
    text-indent: -99999px;
    text-decoration: none;
    margin-right: 50px;
}
.Icone-Redes li{
    display: inline-block
}

.github {
    background-image: url(Imagens/github.png);
    
}

.artstation {
    background-image: url(Imagens/artstation.png);
    background-size: 40px; 
}

.instagram {
    background-image: url(Imagens/instagram.png);
    background-size: 40px; 
}

.facebook {
    background-image: url(Imagens/facebook.png);
    background-size: 40px;  
}
/* ==================================================*/
/* ==================================================*/
/*                  Foto e nome                      */

.foto, .navegacao {
    float: right;
    box-sizing: border-box;
}

