body {
    background-color: #424242;
    color: white;
}

.animate-svg {
    width: 800px;
    margin: 200px auto;
}

.animate-svg svg {
    stroke-width: 2px;
    stroke: #003366;
    width: 100%;
    height: 100%;
    stroke-dashoffset: 1000;
    stroke-dasharray: 1300;
    animation: svganimation 3s ease-in-out forwards infinite;
}

@keyframes svganimation {
    0% {
        stroke-dashoffset: 1400;
    }
    70% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.Icone-Redes a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -99999px;
    text-decoration: none;
    
}

.github {
    background-image: url(Imagens/github.png);
    
}

.artstation {
    background-image: url(Imagens/artstation.png);
    background-size: 40px; 
}

.instagram {
    background-image: url(Imagens/instagram.png);
    background-size: 40px; 
}

.facebook {
    background-image: url(Imagens/facebook.png);
    background-size: 40px;  
}
