body {
    background-color: #424242;
    color: white;
}



.Icone-Redes a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -99999px;
    text-decoration: none;
    
}

.github {
    background-image: url(Imagens/github.png);
    
}

.artstation {
    background-image: url(Imagens/artstation.png);
    background-size: 40px; 
}

.instagram {
    background-image: url(Imagens/instagram.png);
    background-size: 40px; 
}

.facebook {
    background-image: url(Imagens/facebook.png);
    background-size: 40px;  
}
