body {
    background-image: url(Imagens/twitch.jpg);
    background-position: left -150px top;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #000;
    
}

.navbar-preta {
    background-color: #0d0d0d;
}

.principal p,h2 {
    font-family: 'Rajdhani', sans-serif;
    color: #fafafa;   
}

* {
  margin: 0;
}


.descricao {
    font-family: 'Rajdhani', sans-serif;
    color: #fafafa;
}

.about-tag {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #fafafa;
    font-size: 1rem;
    padding: 0.3125rem 1.0625rem;
    margin: 0 0.5rem 0.625rem 0;
    border-radius: 1.125rem;
    color: #fafafa;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*                Div principal                      */

.principal {
    background-color: #424242;
    width: 65%;
    height: 100%;
    margin-bottom: -10px;
    box-sizing: content-box !important;
}


    /* ==================================================*/
    /*                  Redes Sociais                    */

    .Icone-Redes a {
        width: 40px;
        height: 40px;
        display: flex;
        text-indent: -99999px;
        text-decoration: none;
        margin-right: 50px;
    }
    .Icone-Redes li{
        display: inline-block;
        box-sizing: content-box !important;
    }

    .github {
        background-image: url(Imagens/github.png);
    }

    .artstation {
        background-image: url(Imagens/artstation.png);
        background-size: 40px; 
    }

    .instagram {
        background-image: url(Imagens/instagram.png);
        background-size: 40px; 
    }

    .facebook {
        background-image: url(Imagens/facebook.png);
        background-size: 40px;  
    }
    /* ==================================================*/
    /* ==================================================*/
    /*                  Foto e nome                      */

    .foto, .navegacao {
        float: right;
        box-sizing: border-box;
    }



    /* ==================================================*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* ==================================================*/
/*                Div carregamento                   */

.suadiv{
	position:absolute;
	top:0;
	left:0;
	z-index:11;
	background-color:#000;
	width:100%;
	height:110% auto;
    opacity: 0;
    visibility: hidden;	
	filter: alpha(opacity=65);
    animation: divframe 5s;
    box-sizing: border-box;
}

@keyframes divframe {
    0% {
        opacity: 1;
        visibility: visible;
    }
    90% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.suadiv2{
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	background-color:#000;
	width:100%;
	height:110%;
    opacity: 0;
    visibility: hidden;	
	filter: alpha(opacity=65);
    animation: divframe 5200ms;
    box-sizing: border-box;
}

/* ==================================================*/
/*                  Animação SVG                     */



        .animate-svg svg {
            stroke-width: 2px;
            stroke: #fff;
            width: 100%;
            height: 100%;
            stroke-dashoffset: 0;
            stroke-dasharray: 1300;
            animation: svganimation 5s ease-in-out;
            fill: none;
            stroke-opacity: 0;
            padding: 40px;
            margin-bottom: 15%;
            box-sizing: border-box;
        }

        @keyframes svganimation {
            0% {
                stroke-dashoffset: 1400;
                fill: none;
                fill-opacity:0;
                stroke-opacity: 1;
            }
            20% {
                stroke-dashoffset: 0;
            }
            30% {
                stroke-dashoffset: 0;
            }
            40% {
                stroke-dashoffset: 0;
                fill: #fff;
            }
            50% {
                fill-opacity:1;
            }
            80% {
                stroke-dashoffset: 0;
                fill-opacity:0;
                stroke-opacity: 0;
            }
            100% {
                fill-opacity:0;
                fill: none;
                stroke-opacity: 0;
            }
        }
/* ==================================================*/

@media only screen and (min-width: 768px) {
    /* For desktop: */
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 50%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 99%;}
      .col-12 {width: 100%;}
}

[class*="col-"] {
    width: 100%;
    
}
