.principal {
    background-color: #424242;
    width: 65%;
    height: 100%;
    margin-bottom: -10px;
}

html, body {
  height: 100%;
}

@media only screen and (min-width: 1250px) {
    /* For desktop: */
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 50%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}
    
    .alien {
        margin-right: 30% ;
    }

    .pirata {
        margin-left: 30%;
        margin-top: -300px;
        
    }
}

[class*="col-"] {
    width: 100%;
    clear: both;
}


@media screen and (max-width:1250px) {
        .alien {
        margin-left: 12%;
        width: 100%;
    }

    .pirata {
        width: 70%;
       
        margin-right: 5%;
    }
}

