.principal {
    background-color: #424242;
    width: 65%;
    height: 100%;
    margin-bottom: -10px;
}

html, body {
  height: 100%;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .pirata{
        margin-left: 25px;
    }

}

[class*="col-"] {
    width: 100%;
    clear: both;
}


@media screen and (max-width:1250px) {
    


}


