.flor-gradiente {
    background: linear-gradient(to bottom, #FFFF 0%,#8a56aa 80%,#8a76ab 100%);
    fill: linear-gradient(to bottom, #FFFF 0%,#8a56aa 80%,#8a76ab 100%);
}

.flor-gradientee {
    stroke-width: 2px;
    stroke: #fff;
    width: 100%;
    height: 100%;
    stroke-dashoffset: 0;
    stroke-dasharray: 1300;
    animation: svganimation 5s ease-in-out;
    
    stroke-opacity: 0;
    padding: 40px;
    margin-bottom: 15%;
    box-sizing: border-box;
}

#logo {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 10%;
  vertical-align: middle;
  overflow: hidden;
}

svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
}